@charset "UTF-8";

/* ページスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

/* コンテナ */
.container {
    padding-inline: 1rem;
}

@media(min-width: 768px) {
    .container {
        max-width: 64.0625rem;
        margin: 0 auto;
    }
}

/* 部品 */

/* font */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

/* ヘッダー */
.header {
    position: relative;
    z-index: 10;
    position: fixed;
    right: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    background-color:#fff;
}

@media (min-width: 768px) {
    .header {
        max-width: 100%;
        top: 1rem;
        height: 5rem;
        right: 0.5rem;
        border-radius: 2.5rem;
    }
}

/* ヘッダーロゴ */
.header-logo {
    margin-left: .5rem;
    margin-bottom: 0.6rem;
    display: flex;
    line-height: 1.35;
    width: 15rem;
}

@media (min-width: 768px) {
    .header-logo {
        width: 15rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        margin-left: 2.5rem;
    }
}


/* ハンバーガーボタン */
.hamburger-button {
    display: inline-block;
    line-height: 0.85;
    font-size: 2.2rem;
    position: fixed;
    top:.9rem;
    right: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

/* ハンバーバーガーメニューヘッダーナビ */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 3.95rem;
    left: 1rem;
    right: 1rem;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.5rem;
    background-color: #168352;
}

@media (min-width: 768px) {
    .hamburger-menu {
        top: 2rem;
        right: 3.1rem;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
    }
}

/* スライドイン後の位置 */

.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .hamburger-menu-active {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .hamburger-menu.header-nav {
        display: flex;
        align-items: flex-end;
    }
}

/* ヘッダーナビリスト */
.hamburger-nav {
    display: flex;
    flex-direction: column;
    letter-spacing:.015em;
    padding-top: 1.4rem;
    padding-bottom:1.5rem;
    row-gap: .5rem;
    line-height: 3rem;
}

@media (min-width: 768px) {
    .hamburger-nav {
        line-height: 2.7;
        top: 0;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        column-gap: 2.28rem;
        position: static;
        display: flex;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        font-weight: bold;
    }
}


.hamburger-nav a {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

@media (min-width: 768px) {
    .hamburger-nav a {
        font-size: 0.9375rem;
        font-weight: bold;
    }
}


/* よくあるご質問 */

.section__title {
    padding-top:1.4rem;
    font-size: 1.875rem;
    font-weight: bold;
}

.faq__cover {
    padding-top:5.2rem;
}

.faq__link {
    width:100%;
    max-width:100%;
    display: flex;
    gap:.23rem;
    justify-content: flex-end;
    padding-top:1.35rem;
    font-size: .75rem;
}

.faq__box-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top:2.3rem;
}

.faq__box {
    padding-top:1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.faq__top {
    display: flex;
}

.faq__icon {
    padding-top:.2rem;
    padding-left:1.4rem;
    padding-right:1.05rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #168352;
}

.faq__question-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.faq__question-textflex {
    display: flex;
    flex-direction: column;
}

.faq__question-top {
    display: flex;
}

.faq__question-toptext {
    display: inline-block;
    margin-top:.5rem;
    padding:.1rem .65rem .25rem .7rem;
    font-size: .6875rem;
    color: #168352;
    border: 1px solid #168352;
    border-radius: .25rem;
}

.faq__box:nth-child(2) .faq__question-toptext {
    margin-top:.45rem;
    padding-bottom:.3rem;
}

.faq__box:nth-child(3) .faq__question-toptext {
    margin-top:.45rem;
    padding-bottom:.3rem;
}

.faq__box:nth-child(4) .faq__question-toptext {
    margin-top:.4rem;
    padding-bottom:.3rem;
}

.faq__box:nth-child(5) .faq__question-toptext {
    margin-top:.4rem;
    padding-left:1rem;
    padding-right:1.05rem;
    padding-bottom:.25rem;
}

.faq__box:nth-child(6) .faq__question-toptext {
    margin-top:.4rem;
    padding-left:1rem;
    padding-right:1.05rem;
}

.faq__box:nth-child(7) .faq__question-toptext {
    margin-top:.4rem;
    padding-left:1rem;
    padding-right:1.05rem;
}

.faq__box:nth-child(8) .faq__question-toptext {
    margin-top:.4rem;
    padding-left:1rem;
    padding-right:1.05rem;
}

.faq__box:nth-child(9) .faq__question-toptext {
    margin-top:.4rem;
    padding-left:1rem;
    padding-right:1.05rem;
}

.faq__box:nth-child(10) .faq__question-toptext {
    margin-top:.3rem;
    padding-left:1rem;
    padding-right:1.05rem;
}

.faq__box:nth-child(11) .faq__question-toptext {
    margin-top:.3rem;
    padding-left:.7rem;
    padding-right:.65rem;
    padding-bottom:.3rem;
}

.faq__toptext-right {
    margin-left:.3rem;
    padding:.1rem 1rem .3rem 1rem;
}

.faq__box:nth-child(8) .faq__toptext-right {
    margin-left:.25rem;
}

.faq__box:nth-child(10) .faq__toptext-right {
    margin-left:.25rem;
}

.faq__box:nth-child(11) .faq__toptext-right {
    margin-left:.25rem;
    padding-left:1rem;
    padding-right:1.05rem;
}

.faq__question-bottomtext {
    line-height:1.75;
    font-weight: bold;
}

.faq__box:nth-child(3) .faq__question-bottomtext {
    line-height:1.75;
}

.faq__box:nth-child(5) .faq__question-bottomtext {
    line-break:anywhere;
}

.faq__bi {
    margin-left: auto;
    margin-right: .8rem;
}

.faq__bi i {
    line-height:0;
    font-size: 2.5rem;
}

.faq__answer-text {
    line-height:1.7;
    padding:.3rem 1.1rem 1.1rem 1.5rem;
}

.faq__box:nth-child(2) .faq__answer-text {
    line-break:anywhere;
    line-height:1.74;
    letter-spacing:.002em;
    padding-top:.2rem;
    padding-bottom:1rem;
}

.faq__box:nth-child(4) .faq__answer-text {
    line-height:1.75;
    padding-top:.15rem;
    padding-left:1.635rem;
}

.faq__box:nth-child(5) .faq__answer-text {
    line-height:1.75;
    letter-spacing:.003em;
    padding-top:0rem;
    padding-left:1.62rem;
}

.faq__box:nth-child(6) .faq__answer-text {
    line-height:1.745;
    letter-spacing:.005em;
    padding-top:.2rem;
    padding-left:1.6rem;
}

.faq__box:nth-child(7) .faq__answer-text {
    line-height:1.745;
    letter-spacing:.005em;
    padding-top:.2rem;
    padding-left:1.6rem;
}

.faq__box:nth-child(8) .faq__answer-text {
    line-height:1.745;
    letter-spacing:.005em;
    padding-top:.2rem;
    padding-left:1.6rem;
}

.faq__box:nth-child(9) .faq__answer-text {
    line-height:1.745;
    letter-spacing:.005em;
    padding-top:.2rem;
    padding-left:1.6rem;
}

.faq__box:nth-child(10) .faq__answer-text {
    line-height:1.745;
    letter-spacing:.005em;
    padding-top:.2rem;
    padding-left:1.6rem;
}

.faq__box:nth-child(11) .faq__answer-text {
    line-height:1.745;
    letter-spacing:.005em;
    padding-top:.7rem;
    padding-left:1.6rem;
}

/* footer */

.footer {
    margin-top: 10.55rem;
    padding-top: 1.5rem;
    padding-bottom: 1.55rem;
    background-color: #168352;
}

.footer .container {
    max-width: 24.375rem;
    margin: 0 auto;
}

.footer__text {
    position: relative;
    display: flex;
    justify-content: center;
    gap:2.1rem;
    color: #fff;
    font-size: 0.8125rem;
}

.footer__text-left::after {
    top:49%;
    right: calc(38% + 2rem);
    transform: rotate(90deg);
}

.footer__text-left::after {
    position: absolute;
    width: 1.3rem;
    height: .05rem;
    content: "";
    background-color: #fff;
}