@charset "UTF-8";

/* ページスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

/* コンテナ */
.container {
    padding-inline: 1rem;
}

@media(min-width: 768px) {
    .container {
        max-width: 87.5rem;
        margin: 0 auto;
    }
}

/* 部品 */

/* font */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .swiper {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: -.125rem .1875rem;
}

@media (min-width: 768px) {

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: .5rem .1875rem;
    }
}

/* ボタン */

.button {
    position: absolute;
    z-index: 10;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .button {
        top: 51.2%;
    }
}

.button__link {
    white-space: nowrap;
    border-radius: 2.5rem;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.4rem 7.3rem 1.5rem 7.3rem;
}

@media (min-width: 768px) {
    .button__link {
        padding: 1.5rem 7.3rem 1.5rem 7.3rem;
    }
}

@media (min-width: 768px) {
    .button__link:hover {
        color: #168352;
        background-color: #fff;
    }
}

/* ヘッダー */
.header {
    position: relative;
    z-index: 10;
    position: fixed;
    right: .5rem;
    left: .5rem;
    display: flex;
    align-items: center;
    background-color: #fff;
}

@media (min-width: 768px) {
    .header {
        max-width: 100%;
        height: 5rem;
        right: .5rem;
    }
}

/* ヘッダーロゴ */
.header-logo {
    margin-left: .5rem;
    margin-bottom: .6rem;
    display: flex;
    line-height: 1.35;
    width: 15rem;
}

@media (min-width: 768px) {
    .header-logo {
        width: 100%;
        margin-top: 1.7rem;
        margin-left: 6.7rem;
    }
}

@media (min-width: 768px) {
    .header-logo img {
        width: 16.5rem;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    display: inline-block;
    line-height: .85;
    font-size: 2.2rem;
    position: fixed;
    top: .9rem;
    right: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

/* ハンバーバーガーメニューヘッダーナビ */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 3.95rem;
    left: 1rem;
    right: 1rem;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.5rem;
    background-color: #168352;
}

@media (min-width: 768px) {
    .hamburger-menu {
        top: 2rem;
        right: 3.1rem;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
    }
}

/* スライドイン後の位置 */

.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .hamburger-menu-active {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .hamburger-menu.header-nav {
        display: flex;
        align-items: flex-end;
    }
}

/* ヘッダーナビリスト */
.hamburger-nav {
    display: flex;
    flex-direction: column;
    letter-spacing: .015em;
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    row-gap: .5rem;
    line-height: 3rem;
}

@media (min-width: 768px) {
    .hamburger-nav {
        line-height: 2.7;
        top: 0;
        padding: .1rem 4rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        column-gap: 2.28rem;
        position: static;
        display: flex;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        font-weight: bold;
    }
}

.hamburger-nav a {
    font-weight: bold;
    color: #fff;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .hamburger-nav a {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
    }
}

@media (min-width: 768px) {
    .hamburger-nav li:nth-child(1) {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger-nav li:nth-child(2) a {
        color: #168352;
    }
}

/* スペック */

.spec__cover {
    position: relative;
    padding-top: 5.16rem;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .spec__cover {
        padding-top: 6.5rem;
    }
}

.spec__cover-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .spec__cover-content img {
        object-fit: cover;
        height: auto;
        min-height: 100%;
        object-position: top;
        padding-top: 3.1rem;
        padding-left: 5.25rem;
        padding-right: 5.2rem;
    }
}

.spec__cover-text {
    position: relative;
}

@media (min-width: 768px) {
    .spec__cover-text {
        position: relative;
    }
}

.section__title {
    padding-top: 1.4rem;
    font-size: 1.875rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section__title {
        position: relative;
        display: inline-block;
        top: -7.1rem;
        left: 5.1rem;
        padding: 1.7rem 2.25rem 2.1rem 2.6rem;
        font-size: 2.25rem;
        border-radius: 0 2.5rem 0 1rem;
        background-color: #fff;
    }
}

.spec__link {
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: .23rem;
    justify-content: flex-end;
    padding-top: 1.35rem;
    font-size: .75rem;
    list-style: none;
}

.spec__link li {
    display: flex;
    align-items: center;
}

.spec__link a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 768px) {
    .spec__link {
        position: relative;
        top: -7.2rem;
        padding-right: 5.2rem;
    }
}

/* gallery */


.gallery .container {
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .gallery__content {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
    }
}

.section__subtitle {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2.15rem;
}

@media (min-width: 768px) {
    .section__subtitle {
        top: -5.7rem;
    }
}

.section__subtitle {
    position: relative;
}

.section__subtitle::after {
    content: "";
    position: absolute;
    top: 72.5%;
    left: 0;
    right: 0;
    height: .2rem;
    background: linear-gradient(to right,
            #168352 0%,
            #168352 14%,
            #ddd 14%,
            #ddd 100%);
}

@media (min-width: 768px) {
    .section__subtitle::after {
        top: 85.7%;
        height: .27rem;
        background: linear-gradient(to right,
                #168352 0%,
                #168352 12.5%,
                #ddd 12.5%,
                #ddd 100%);
    }
}

@media (min-width: 768px) {
    .swiper {
        transform: translateY(-4.4rem);
    }
}

.section__subtext {
    font-size: 1.375rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section__subtext {
        font-size: 1.75rem;
    }
}

/* 特長 */

@media (min-width: 768px) {
    .feature .section__subtitle {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
    }
}

.feature .section__subtitle::after {
    position: absolute;
    top: 69%;
    height: .2rem;
    content: "";
    background: linear-gradient(to right,
            #168352 0%,
            #168352 14%,
            #ddd 14%,
            #ddd 100%);
}

@media (min-width: 768px) {
    .feature .section__subtitle::after {
        top: 85%;
        height: .26rem;
        background: linear-gradient(to right,
                #168352 0%,
                #168352 12.5%,
                #ddd 12.5%,
                #ddd 100%);
    }
}

.feature .section__subtext {
    padding-top: .5rem;
    padding-bottom: .55rem;
}

@media (min-width: 768px) {
    .feature .section__subtext {
        padding-top: 2.2rem;
    }
}

.feature__flex {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    transform: translateY(-.5rem);
}

@media (min-width: 768px) {
    .feature__flex {
        max-width: 50rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 2rem;
        transform: translateY(-4.8rem);
    }
}

@media (min-width: 768px) {
    .feature__item {
        width: 100%;
        max-width: 15.5rem;
    }
}

.feature__item p {
    line-height: 1.75;
    padding-top: .5rem;
    padding-bottom: .1rem;
    font-size: 1.125rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .feature__item p {
        line-height: 1.75;
        font-size: 18px;
    }
}

.feature__item:nth-child(2) p {
    line-break: anywhere;
}

.feature__item:nth-child(3) p {
    line-height: 1.721;
    letter-spacing: .004em;
    padding-right: .2rem;
}

@media (min-width: 768px) {
    .feature__item:nth-child(3) p {
        line-height: 1.74;
    }
}

/* メーカー希望小売価格 */

@media (min-width: 768px) {
    .retail__price .container {
        width: 100%;
        max-width: 54rem;
        margin: 0 auto;
    }
}

.retail__price .section__subtitle {
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .retail__price .section__subtitle {
        top: -3.4rem;
        left: -1rem;
    }
}

.retail__price .section__subtext {
    padding-top: .7rem;
    padding-bottom: .3rem;
}

@media (min-width: 768px) {
    .retail__price .section__subtext {
        padding-top: 0;
        padding-left: 2rem;
    }
}

.retail__price .section__subtitle::after {
    position: absolute;
    top: 86.5%;
    height: .2rem;
    content: "";
    background: linear-gradient(to right,
            #168352 0%,
            #168352 14%,
            #ddd 14%,
            #ddd 100%);
}

@media (min-width: 768px) {
    .retail__price .section__subtitle::after {
        top: 98%;
        left: 3.8%;
        height: .3rem;
        background: linear-gradient(to right,
                #168352 0%,
                #168352 12.5%,
                #ddd 12.5%,
                #ddd 100%);
    }
}

@media (min-width: 768px) {
    .retail__price-content {
        transform: translate(-1rem, -1.55rem);
    }
}


.retail__price-text {
    line-height: 1.1;
    padding-top: .6rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .retail__price-text {
        padding-top: 0;
        padding-left: 2rem;
    }
}

.retail__price-tax {
    font-size: 1rem;
}

/* スペック表 */

.spec__table .container {
    padding-inline: .8rem;
}

@media (min-width: 768px) {
    .spec__table .container {
        width: 100%;
        max-width: 51.5rem;
        margin: 0 auto;
    }
}

.spec__table .section__subtext {
    letter-spacing: .02em;
    padding-top: 1.46rem;
    padding-left: .2rem;
    transform: translateX(-.07rem);
}

@media (min-width: 768px) {
    .spec__table .section__subtext {
        padding-top: 6.15rem;
        padding-left: 1rem;
        transform: translateX(-1rem);
    }
}

.spec__table .section__subtitle::after {
    position: absolute;
    top: 78.2%;
    left: 1%;
    height: .2rem;
    content: "";
    background: linear-gradient(to right,
            #168352 0%,
            #168352 14%,
            #ddd 14%,
            #ddd 100%);
}

@media (min-width: 768px) {
    .spec__table .section__subtitle::after {
        top: 92.2%;
        left: -.1%;
        height: .27rem;
        background: linear-gradient(to right,
                #168352 0%,
                #168352 12.5%,
                #ddd 12.5%,
                #ddd 100%);
    }
}

@media (min-width: 768px) {
    .section__smalltitle {
        transform: translate(1rem, -4.25rem);
    }
}

.section__smalltext {
    position: relative;
    padding-left: 1.3rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .section__smalltext {
        padding-left: 2rem;
        font-size: 1.5rem;
    }
}

.section__smalltext::before {
    top: 32%;
    right: calc(86% + 2rem);
    transform: rotate(90deg);
    position: absolute;
    width: 1.9rem;
    height: .15rem;
    content: "";
    background-color: #168352;
}

@media (min-width: 768px) {
    .section__smalltext::before {
        top: 1rem;
        right: calc(91.6% + 2rem);
        width: 2.5rem;
        height: .1rem;
    }
}

.spec__table {
    width: 100%;
}

.spec__table-content {
    width: 100%;
    transform: translate(.02rem, .04rem);
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .spec__table-content {
        width: 46.2rem;
        transform: translate(1.75rem, -3.7rem);
    }
}

.spec__table-content th,
.spec__table-content td {
    border: 1px solid #e5e5e5;
    padding: .4rem 1.3rem .45rem 1.25rem;
    text-align: left;
    vertical-align: top;
}

@media (min-width: 768px) {

    .spec__table-content th,
    .spec__table-content td {
        padding: 1.15rem 1.5rem 1.15rem 1.25rem;
    }
}

.spec__table-content tr {
    display: block;
}

@media (min-width:768px) {
    .spec__table-content tr {
        display: table-row;
    }
}

.spec__table-content th,
.spec__table-content td {
    display: block;
    width: 100%;
}

@media (min-width:768px) {

    .spec__table-content th,
    .spec__table-content td {
        display: table-cell;
        width: auto;
    }
}

.spec__table-content th {
    background: #f5f5f5;
    font-weight: 700;
}

@media (min-width: 768px) {
    .spec__table-content th {
        width: 11rem;
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .spec__table-content td {
        width: 29.3rem;
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(1) th {
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(1) td {
        padding-top: 1.3rem;
        padding-left: 1.35rem;
    }
}

.spec__table-content tr:nth-child(2) th {
    padding-top: .35rem;
    padding-left: 1.25rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(2) th {
        padding-top: 1.2rem;
        padding-left: 1.25rem;
    }
}

.spec__table-content tr:nth-child(2) td {
    padding-top: .4rem;
    padding-left: 1.25rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(2) td {
        padding-top: 1.2rem;
        padding-left: 1.35rem;
    }
}

.spec__table-content tr:nth-child(3) th {
    padding-top: .35rem;
    padding-left: 1.25rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(3) th {
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
}

.spec__table-content tr:nth-child(3) td {
    padding-top: .35rem;
    padding-left: 1.3rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(3) td {
        padding-top: 1.25rem;
        padding-left: 1.3rem;
    }
}

.spec__table-content tr:nth-child(4) th {
    padding-top: .35rem;
    padding-left: 1.25rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(4) th {
        padding-top: 1.2rem;
        padding-left: 1.25rem;
    }
}

.spec__table-content tr:nth-child(4) td {
    padding-top: .35rem;
    padding-left: 1.17rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(4) td {
        padding-top: 1.2rem;
        padding-left: 1.35rem;
    }
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(5) th {
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
}

.spec__table-content tr:nth-child(5) td {
    padding-top: .35rem;
    padding-left: 1.17rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(5) td {
        padding-top: 1.25rem;
        padding-left: 1.3rem;
    }
}

.spec__table-content tr:nth-child(6) th {
    padding-top: .35rem;
    padding-left: 1.25rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(6) th {
        padding-top: 1.2rem;
        padding-left: 1.25rem;
    }
}

.spec__table-content tr:nth-child(6) td {
    padding-top: .35rem;
    padding-left: 1.17rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(6) td {
        padding-top: 1.2rem;
        padding-left: 1.35rem;
    }
}

.spec__table-content tr:nth-child(7) th {
    padding-top: .4rem;
    padding-left: 1.25rem;
    padding-bottom: .47rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(7) th {
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
}

.spec__table-content tr:nth-child(7) td {
    padding-top: .35rem;
    padding-left: 1.25rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(7) td {
        padding-top: 1.25rem;
        padding-left: 1.3rem;
    }
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(8) th {
        padding-top: 1.1rem;
        padding-left: 1.2rem;
    }
}

.spec__table-content tr:nth-child(8) td {
    padding-top: .31rem;
    padding-right: 1.1rem;
}

@media (min-width: 768px) {
    .spec__table-content tr:nth-child(8) td {
        padding-top: 1.1rem;
        padding-left: 1.3rem;
    }
}

/* footer-cover */

.footer__cover {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 4.05rem;
}

@media (min-width: 768px) {
    .footer__cover {
        padding-top: .86rem;
    }
}

.footer__cover-img {
    position: relative;
    z-index: 1;
}

/* footer */

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.55rem;
    background-color: #168352;
}

@media (min-width: 768px) {
    .footer {
        padding-top: 2.27rem;
        padding-bottom: 2.4rem;
    }
}

.footer .container {
    max-width: 24.375rem;
    margin: 0 auto;
}

.footer__text {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2.1rem;
    color: #fff;
    font-size: .8125rem;
}

@media (min-width: 768px) {
    .footer__text {
        gap: 2.5rem;
        font-size: .9375rem;
    }
}

@media (min-width: 768px) {
    .footer__text-left {
        letter-spacing: .01em;
        font-size: .9375rem;
    }
}

@media (min-width: 768px) {
    .footer__text-right {
        letter-spacing: -.06em;
        font-size: .9375rem;
    }
}

.footer__text-left::after {
    top: 49%;
    right: calc(38% + 2rem);
    transform: rotate(90deg);
    position: absolute;
    width: 1.3rem;
    height: .05rem;
    content: "";
    background-color: #fff;
}

@media (min-width: 768px) {
    .footer__text-left::after {
        top: 50%;
        right: calc(40% + 1.25rem);
        width: 1.5rem;
        height: .07rem;
    }
}