@charset "UTF-8";

/* ページスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

/* コンテナ */
.container {
    padding-inline: 1rem;
}

@media(min-width: 768px) {
    .container {
        max-width: 87.5rem;
        margin: 0 auto;
    }
}

/* 部品 */

/* font */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .swiper {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ヘッダー */
.header {
    position: relative;
    z-index: 10;
    position: fixed;
    right: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #fff;
}

@media (min-width: 768px) {
    .header {
        max-width: 100%;
        height: 5rem;
        right: 0.5rem;
        border-radius: 2.5rem;
    }
}

/* ヘッダーロゴ */
.header-logo {
    margin-left: .5rem;
    margin-bottom: 0.6rem;
    display: flex;
    line-height: 1.35;
    width: 15rem;
}

@media (min-width: 768px) {
    .header-logo {
        width: 100%;
        margin-top: 1.7rem;
        margin-left: 6.7rem;
    }
}

@media (min-width: 768px) {
    .header-logo img {
        width: 16.5rem;
    }
}


/* ハンバーガーボタン */
.hamburger-button {
    display: inline-block;
    line-height: 0.85;
    font-size: 2.2rem;
    position: fixed;
    top: .9rem;
    right: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

/* ハンバーバーガーメニューヘッダーナビ */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 3.95rem;
    left: 1rem;
    right: 1rem;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.5rem;
    background-color: #168352;
}

@media (min-width: 768px) {
    .hamburger-menu {
        top: 2rem;
        right: 3.1rem;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
    }
}

/* スライドイン後の位置 */

.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .hamburger-menu-active {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .hamburger-menu.header-nav {
        display: flex;
        align-items: flex-end;
    }
}

/* ヘッダーナビリスト */
.hamburger-nav {
    display: flex;
    flex-direction: column;
    letter-spacing: .015em;
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    row-gap: .5rem;
    line-height: 3rem;
}

@media (min-width: 768px) {
    .hamburger-nav {
        line-height: 2.7;
        top: 0;
        padding: .1rem 4rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        column-gap: 2.28rem;
        position: static;
        display: flex;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        font-weight: bold;
    }
}


.hamburger-nav a {
    font-weight: bold;
    color: #fff;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .hamburger-nav a {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
    }
}

@media (min-width: 768px) {
    .hamburger-nav li:nth-child(1) {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger-nav li:nth-child(2) a {
        color: #168352;
    }
}

.spec__cover {
    position: relative;
    padding-top: 5.16rem;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .spec__cover {
        padding-top: 6.5rem;
    }
}

.spec__cover-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .spec__cover-content img {
        object-fit: cover;
        height: auto;
        min-height: 100%;
        object-position: top;
        padding-top: 3.1rem;
        padding-left: 5.25rem;
        padding-right: 5.2rem;
    }
}

.spec__cover-text {
    position: relative;
}

@media (min-width: 768px) {
    .spec__cover-text {
        position: relative;
    }
}

.section__title {
    padding-top: 1.4rem;
    font-size: 1.875rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section__title {
        position: relative;
        display: inline-block;
        top: -7.1rem;
        left: 5.1rem;
        padding: 1.7rem 2.25rem 2.1rem 2.6rem;
        font-size: 2.25rem;
        border-radius: 0 2.5rem 0 1rem;
        background-color: #fff;
    }
}

.spec__link {
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: .23rem;
    justify-content: flex-end;
    padding-top: 1.35rem;
    font-size: .75rem;
}

@media (min-width: 768px) {
    .spec__link {
        position: relative;
        top: -7.2rem;
        padding-right: 5.2rem;
    }
}

/* gallery */

.gallery__title::after {
    top: 49%;
    right: calc(38% + 2rem);
    /* transform: rotate(90deg); */
    position: absolute;
    width: 5rem;
    height: 1rem;
    content: "";
    background-color: #ddd;
}

@media (min-width: 768px) {
    .gallery__title::after {
        top: 50%;
        right: calc(40% + 1.25rem);
        width: 15rem;
        height: 1rem;
    }
}