@charset "UTF-8";

/* ページスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

/* コンテナ */
.container {
    padding-inline: 1rem;
}

@media(min-width: 768px) {
    .container {
        max-width: 87.5rem;
        margin: 0 auto;
    }
}

/* 部品 */

/* font */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

/* ボタン */

.button {
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
    padding-bottom: 3.85rem;

}

@media (min-width: 768px) {
    .button {
        padding-top: 2rem;
    }
}

.button__link {
    white-space: nowrap;
    border-radius: 4rem;
    color: #fff;
    background-color: #09947b;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 1.2rem 5.45rem 1.25rem 5.45rem;
    box-shadow: 0 6px 0 #066655;
}

@media (min-width: 768px) {
    .button__link {
        padding: 1.2rem 5.45rem 1.2rem 5.45rem;
    }
}

/* ヘッダー */
.header {
    position: relative;
    z-index: 10;
    position: fixed;
    right: .5rem;
    left: .5rem;
    display: flex;
    align-items: center;
    background-color: #fff;
}

@media (min-width: 768px) {
    .header {
        max-width: 100%;
        height: 5rem;
        right: .5rem;
    }
}

/* ヘッダーロゴ */
.header-logo {
    margin-left: .5rem;
    margin-bottom: .6rem;
    display: flex;
    line-height: 1.35;
    width: 15rem;
}

@media (min-width: 768px) {
    .header-logo {
        width: 100%;
        margin-top: 1.7rem;
        margin-left: 6.7rem;
    }
}

@media (min-width: 768px) {
    .header-logo img {
        width: 16.5rem;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    display: inline-block;
    line-height: .85;
    font-size: 2.2rem;
    position: fixed;
    top: .9rem;
    right: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

/* ハンバーバーガーメニューヘッダーナビ */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 3.95rem;
    left: 1rem;
    right: 1rem;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.5rem;
    background-color: #168352;
}

@media (min-width: 768px) {
    .hamburger-menu {
        top: 2rem;
        right: 3.1rem;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
    }
}

/* スライドイン後の位置 */

.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .hamburger-menu-active {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .hamburger-menu.header-nav {
        display: flex;
        align-items: flex-end;
    }
}

/* ヘッダーナビリスト */
.hamburger-nav {
    display: flex;
    flex-direction: column;
    letter-spacing: .015em;
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    row-gap: .5rem;
    line-height: 3rem;
}

@media (min-width: 768px) {
    .hamburger-nav {
        line-height: 2.7;
        top: 0;
        padding: .1rem 4rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        column-gap: 2.28rem;
        position: static;
        display: flex;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        font-weight: bold;
    }
}

.hamburger-nav a {
    font-weight: bold;
    color: #fff;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .hamburger-nav a {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
    }
}

@media (min-width: 768px) {
    .hamburger-nav li:nth-child(1) {
        display: none;
    }
}

/* mainvisual */

@media(min-width: 768px) {
    .mainvisual .container {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        padding-top: 5.1rem;
    }
}

.mainvisual .container .mainvisual__inner {
    padding-top: 4.75rem;
}

@media (min-width: 768px) {
    .mainvisual__inner {
        display: flex;
        justify-content: space-between;
        gap: 8.3rem;
        padding-bottom: 2rem;
    }
}

.main__title {
    font-size: 1.75rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .main__title {
        padding-left: 2rem;
        font-size: 2.5rem;
        white-space: nowrap;
    }
}

.main__text {
    line-height: 1.77;
    letter-spacing: .0015em;
    line-break: anywhere;
    padding-top: 1.25rem;
    padding-bottom: 1.55rem;
    font-size: .9375rem;
}

@media (min-width: 768px) {
    .main__text {
        padding-top: .3rem;
        padding-right: 1.5rem;
    }
}

/* about us */

.about .container {
    padding-inline: 0;
}

@media (min-width: 768px) {
    .about .container {
        max-width: 63rem;
        padding-inline: 1rem;
    }
}

.section__title {
    text-align: center;
    padding-top: 3.3rem;
}

.section__title-maintext {
    letter-spacing: .05em;
    font-size: .9375rem;
    font-weight: 500;
    color: #168352;
}

@media (min-width: 768px) {
    .section__title-maintext {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .about .section__title-maintext {
        padding-top: .45rem;
        letter-spacing: .01em;
    }
}

.section__title-subtext {
    padding-top: .15rem;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section__title-subtext {
        font-size: 1.75rem;
    }
}

@media (min-width: 768px) {
    .about .section__title-subtext {
        padding-top: .45rem;
        padding-left: .2rem;
        letter-spacing: .01em;
    }
}

.about__inner {
    position: relative;
}

@media (min-width: 768px) {
    .about__inner {
        display: flex;
        flex-direction: row;
    }
}

.about__content {
    position: absolute;
    top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem .7rem 1.05rem 1.55rem;
    background: #d6d6d4;
    border-radius: 2rem;
}

@media (min-width: 768px) {
    .about__content {
        position: relative;
        flex: 1;
        top: 0;
        margin: 0;
        padding: 0;
        background: none;
    }
}

.about__maintext {
    line-height: 1.7;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .about__maintext {
        max-width: 19em;
        line-height: 1.75;
        padding-top: 6.65rem;
        padding-left: .25rem;
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .about__maintext-last {
        white-space: nowrap;
    }
}

.about__subtext {
    line-height: 1.75;
    padding-top: .65rem;
    padding-right: 1rem;
    font-size: .9375rem;
}

@media (min-width: 768px) {
    .about__subtext {
        max-width: 27rem;
        letter-spacing: .006em;
        padding-top: 1.6rem;
        padding-left: .2rem;
    }
}

@media (min-width: 768px) {
    .about__image {
        position: relative;
        padding-top: .4rem;
        padding-right: 1.1rem;
    }
}

/* features */

.features {
    padding-bottom: 3.45rem;
    background-color: #f3f9f6;
}

@media (min-width: 768px) {
    .features {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 3.95rem;
        padding-bottom: 4.1rem;
    }
}

@media (min-width: 768px) {
    .features .section__title-maintext {
        padding-top: .5rem;
        letter-spacing: .01em;
    }
}

@media (min-width: 768px) {
    .features .section__title-subtext {
        padding-top: .5rem;
    }
}

.features__inner {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media (min-width: 768px) {
    .features__inner {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1.9rem;
        padding-top: .4rem;
    }
}

.features__item {
    background-color: #fff;
    border-radius: 1.4rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

@media (min-width: 768px) {
    .features__item {
        width: 100%;
        max-width: 23.05rem;
        border-radius: 1.5rem;
    }
}

.features__item-img {
    width: 100%;
    height: auto;
}

.features__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.features__item-text {
    padding: .65rem .5rem .85rem 1rem;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
}

@media (min-width: 768px) {
    .features__item-text {
        line-height: 1.85;
        letter-spacing: .06em;
        padding: .7rem .5rem .85rem 1.25rem;
        font-size: 1.125rem;
    }
}

/* products */

.products {
    padding-top: .06rem;
}

@media (min-width: 768px) {
    .products {
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
}

@media (min-width: 768px) {
    .products .section__title-maintext {
        letter-spacing: .01em;
        padding-bottom: .4rem;
    }
}

.products__inner {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media (min-width: 980px) {
    .products__inner {
        width: 100%;
        max-width: 68.9rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2.5rem;
        padding-top: .4rem;
    }
}

.products__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.25rem 1.5rem 1.2rem 1.5rem;
    background-color: #168352;
    border-radius: 1.5rem;
}

@media (min-width: 768px) {
    .products__item:nth-child(1) {
        margin-right: .25rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(2) {
        margin-left: .25rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(3) {
        margin-right: .4rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(4) {
        margin-left: .2rem;
        margin-right: .2rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(5) {
        margin-left: .4rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(1),
    .products__item:nth-child(2) {
        grid-column: span 6;
        padding-bottom: 1.36rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(3),
    .products__item:nth-child(4),
    .products__item:nth-child(5) {
        grid-column: span 4;
        padding-top: 1.255rem;
        padding-bottom: 1.3rem;
    }
}

.products__item-image {
    flex-shrink: 0;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .products__item-image {
        width: 8.4rem;
        height: 8.4rem;
        margin-top: .15rem;
        margin-left: .5rem;
    }
}

@media (min-width: 768px) {
    .products__item:nth-child(3) .products__item-image,
    .products__item:nth-child(4) .products__item-image,
    .products__item:nth-child(5) .products__item-image {
        width: 6.9rem;
        height: 6.9rem;
        margin: 0;
    }
}

.products__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products__item-text {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    transform: translate(-.5rem, -.08rem);
    color: #fff;
}

.products__item:nth-child(3) .products__item-text {
    gap: .3rem;
}

.products__item:nth-child(4) .products__item-text {
    line-height: 1.8;
    letter-spacing: .01em;
    transform: translate(-.5rem, -.01rem);
}

.products__item:nth-child(5) .products__item-text {
    line-height: 1.7;
    transform: translate(-.5rem, -.05rem);
}

.products__item-toptext {
    font-size: 1.125rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .products__item-toptext {
        line-height: 1.95;
        letter-spacing: .21em;
        font-size: 1.25rem;
        padding-left: .8rem;
    }
}

.products__item:nth-child(2) .products__item-toptext {
    line-height: 1.7;
    padding-right: 2.6rem;
}

@media (min-width: 768px) {
    .products__item:nth-child(2) .products__item-toptext {
        line-height: 2.1;
        padding-right: 3.65rem;
    }
}

.products__item:nth-child(3) .products__item-toptext {
    line-height: 1.85;
}

@media (min-width: 768px) {
    .products__item:nth-child(3) .products__item-toptext,
    .products__item:nth-child(4) .products__item-toptext,
    .products__item:nth-child(5) .products__item-toptext {
        line-height: 1.75;
        letter-spacing: 0;
        margin: 0;
        padding: 0;
        padding-top: .2rem;
        padding-left: .2rem;
    }
}

.products__item-flex {
    white-space: nowrap;
}

@media(min-width:768px) {
    .products__item-flex {
        white-space: wrap;
    }
}

.products__item-bottomtext {
    font-size: 1.125rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .products__item-bottomtext {
        letter-spacing: .23em;
        padding-left: .8rem;
        font-size: 1.25rem;
    }
}

/* case */

.case {
    margin-top: 3.4rem;
    background-color: #f3f9f6;
}

@media (min-width: 768px) {
    .case {
        padding-bottom: 3.7rem;
    }
}

@media (min-width: 768px) {
    .case .section__title-maintext {
        padding-top: .35rem;
    }
}

.case .section__title-subtext {
    padding-bottom: 1.2rem;
}

@media (min-width: 768px) {
    .case .section__title-subtext {
        padding-top: .45rem;
        padding-right: .2rem;
        padding-bottom: 1.65rem;
    }
}

.case__inner {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

@media (min-width: 768px) {
    .case__inner {
        width: 100%;
        max-width: 73rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .case__item {
        width: 100%;
        max-width: 23rem;
    }
}

.case__item-bottomtext {
    padding-top: .65rem;
    padding-left: .1rem;
    font-size: 1.125rem;
    font-weight: bold;
    color: #09947b;
}

@media (min-width: 768px) {
    .case__item-bottomtext {
        padding-top: .8rem;
        font-size: 1.1875rem;
    }
}

.case__item:nth-child(1) .case__item-bottomtext {
    padding-bottom: .1rem;
}

.case__item:nth-child(2) .case__item-bottomtext {
    line-height: 1.6;
}

@media (min-width: 768px) {
    .case__item:nth-child(2) .case__item-bottomtext {
        line-height: 1.69;
        padding-top: .72rem;
        transform: translateX(-.1rem);
    }
}

.case__item:nth-child(3) .case__item-bottomtext {
    line-height: 1.6;
}

@media (min-width: 768px) {
    .case__item:nth-child(3) .case__item-bottomtext {
        line-height: 1.69;
        padding-top: .72rem;
        transform: translateX(-.15rem);
    }
}

/* news */

.news {
    padding-top: 3.2rem;
}

@media (min-width: 768px) {
    .news {
        padding-top: .4rem;
    }
}

@media (min-width: 768px) {
    .news .container {
        max-width: 58.5rem;
    }
}

.news .section__title {
    border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
    .news .section__title-subtext {
        padding-top: .45rem;
        padding-bottom: 1.7rem;
    }
}

@media (min-width: 768px) {
    .news__list {
        width: 100%;
        max-width: 56.5rem;
        margin: 0 auto;
    }
}

.news__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.05rem;
    padding-top: .9rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid #ddd;
}

.news__date {
    flex-shrink: 0;
    font-size: .9375rem;
}

@media (min-width: 768px) {
    .news__date {
        transform: translateY(-.4rem);
        font-size: 14px;
        padding-left: .1rem;
        padding-right: .15rem;
    }
}

.news__label {
    flex-shrink: 0;
    transform: translateY(.11rem);
    padding: .3rem 2.57rem;
    border-radius: .25rem;
    background: #4a3725;
    color: #fff;
    font-size: .8125rem;
}

@media (min-width: 768px) {
    .news__label {
        transform: translateY(-.34rem);
    }
}

.news__item:nth-child(2) .news__label,
.news__item:nth-child(3) .news__label,
.news__item:nth-child(5) .news__label {
    padding: .3rem 1rem;

}

.news__item a {
    transform: translateY(-.35rem);
    line-height: 1.7;
    color: #09947b;
    font-size: .9375rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .news__item a {
        padding-top: .5rem;
        padding-left: .4rem;
        padding-bottom: .5rem;
    }
}

@media (min-width: 768px) {
    .news__item:nth-child(4) a {
        line-height: 1.75;
        letter-spacing: .005em;
    }
}

/* footer */

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.55rem;
    background-color: #168352;
}

@media (min-width: 768px) {
    .footer {
        margin-top: .55rem;
        padding-top: 2.3rem;
        padding-bottom: 2.4rem;
    }
}

.footer .container {
    max-width: 24.375rem;
    margin: 0 auto;
}

.footer__text {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2.1rem;
    color: #fff;
    font-size: .8125rem;
}

@media (min-width: 768px) {
    .footer__text {
        gap: 2.5rem;
        font-size: .9375rem;
    }
}

@media (min-width: 768px) {
    .footer__text-left {
        letter-spacing: .01em;
        font-size: .9375rem;
    }
}

@media (min-width: 768px) {
    .footer__text-right {
        letter-spacing: -.06em;
        font-size: .9375rem;
    }
}

.footer__text-left::after {
    top: 49%;
    right: calc(38% + 2rem);
    transform: rotate(90deg);
    position: absolute;
    width: 1.3rem;
    height: .05rem;
    content: "";
    background-color: #fff;
}

@media (min-width: 768px) {
    .footer__text-left::after {
        top: 50%;
        right: calc(40% + 1.25rem);
        width: 1.5rem;
        height: .07rem;
    }
}